@model lab1_1.Models.Timetable
@{
    ViewBag.Title = "Редагування поїзда в розкладі";
}
<h2>@ViewBag.Title</h2>
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
   
    <div class="form-group">
        <label asp-for="train_num" class="control-label">Номер поїзда</label>
        <input type="text" asp-for="train_num" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="prub" class="control-label">Прибуття</label>
        <input type="datetime" asp-for="prub" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="prub" class="control-label">Відбуття</label>
        <input type="datetime" asp-for="prub" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="num_koli" class="control-label">Номер колії</label>
        <input type="datetime" asp-for="num_koli" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>

</form>